{% extends 'layout.njk' %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Page not found</h1>
        <p class="govuk-body">
          If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
          If the web address is correct or you selected a link or button, <a href="/" class="govuk-link">start a new calculation</a>.
        </p>
         <p class="govuk-body">
            If you require help in using this calculator, 
            please call the Rural Payments helpline on <a href="tel:03000 200 301">03000 200 301</a>
          </p>
    </div>
  </div>
{% endblock %}
