{% extends './_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  
    <link href="/static/css/map.1dba78526da579dc7f6d.css" rel="stylesheet">
  
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href=".">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/search">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a id="myLand" class="govuk-breadcrumbs__link" href="">My land</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ sbi }}</span>
      Parcel details
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Summary</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total Area (ha)
        </dt>
        <dd class="govuk-summary-list__value">
          {{ totalArea | round(4) }}
        </dd>
      </div>
    </dl>
    <table class="govuk-table" id="parcels">
      <caption class="govuk-table__caption govuk-table__caption--m">Land covers</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Area (ha)</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for cover in covers %}
        <tr class="govuk-table__row" id="{{cover.id}}">
          <th scope="row" class="govuk-table__header">{{ cover.description }} - {{ cover.sheet_id }} {{ cover.parcel_id }}</th>
          <td class="govuk-table__cell">{{ cover.area_ha | round(4) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="govuk-grid-column-one-half">
    {% if apiKey !== '' %}
    <table class="govuk-table">
      <tbody class="govuk-table__body">
          <div class="govuk-form-group">
            <label class="govuk-label" for="sort">Change view</label>
            <select class="govuk-select" id="layer-select" name="layer-select">
              <option value="Road_27700" selected>Road</option>
              <option value="Outdoor_27700">Outdoor</option>
              <option value="Light_27700">Light</option>
              <option value="Leisure_27700">Leisure</option>
            </select>
          </div>
        <div id="map" class="map"></div>
      </tbody>  
    </table>
    <table class="govuk-table">
      <tbody>
        <tr>
          <td>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEZJREFUOI1jYaAyYKGZgenp6f8pNWzmzJmMKC505JhJtmH7f6QzMDDQ0sujBo4aOGrgqIE4DYQVQeSAmTNnMqIYCBOgFAAAB6sNB8m92sEAAAAASUVORK5CYII=" alt="BPS Ineligible Feature">
          </td>
          <td>BPS Ineligible Feature</td>
        </tr>
        <tr>
          <td>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEVJREFUOI1jYaAyYKGZgTk5Of8pNWzKlCmMKC6c3OBCtmG5DXsYGBho6eVRA0cNHDVw1ECcBsKKIHLAlClTGFEMhAlQCgDZaAx0Uzpf6QAAAABJRU5ErkJggg==" alt="Arable land">
          </td>
          <td>Arable land</td>
        </tr>
        <tr>
          <td>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEZJREFUOI1jYaAyYKGZgTk5Of8pNWzKlCmMKC48bTOFbMNMj+QwMDDQ0sujBo4aOGrgqIE4DYQVQeSAKVOmMKIYCBOgFAAAwiAMMEEZsx0AAAAASUVORK5CYII=" alt="Permanent crops">
          </td>
          <td>Permanent crops</td>
        </tr>
        <tr>
          <td>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEZJREFUOI1jYaAyYKGZgTk5Of8pNWzKlCmMKC6USfpFtmFP5rExMDDQ0sujBo4aOGrgqIE4DYQVQeSAKVOmMKIYCBOgFAAAzz0MU7ZTVkYAAAAASUVORK5CYII=" alt="Permanent grassland">
          </td>
          <td>Permanent grassland</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

  <script src="/static/js/map.1dba78526da579dc7f6d.js"></script>

<script>
  const myLandBreadcrumbHref = '/map?sbi={{sbi}}&mapStyle='
  const parcels = {{ parcels | dump | safe }}
  const center = {{ center | dump | safe }}
  const sbi = {{ sbi }}
  const apiKey = {{ apiKey | dump | safe }}
  const mapStyle = {{ mapStyle | dump | safe }}

  const layerSelect = document.getElementById("layer-select")
  const myLandBreadcrumbLink = document.getElementById("myLand")

  layerSelect.value = mapStyle
  myLandBreadcrumbLink.href = `${myLandBreadcrumbHref}${mapStyle}`

  layerSelect.addEventListener("change", (e) => {
    myLandBreadcrumbLink.href = `${myLandBreadcrumbHref}${e.target.value}`
  })
  
  if(apiKey !== '') {
    map.displayMap(apiKey, sbi, parcels, center)
  }

</script>
{% endblock %}
