Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve '/home/node/app/views/_map.njk' in '/ho  me/node'
  ModuleNotFoundError: Module not found: Error: Can't resolve '/home/node/app/vi  ews/_map.njk' in '/home/node'
  
  - Compilation.js:1765 
    [node]/[webpack]/lib/Compilation.js:1765:28
  
  - NormalModuleFactory.js:730 
    [node]/[webpack]/lib/NormalModuleFactory.js:730:13
  
  
  - NormalModuleFactory.js:273 
    [node]/[webpack]/lib/NormalModuleFactory.js:273:22
  
  
  - NormalModuleFactory.js:402 
    [node]/[webpack]/lib/NormalModuleFactory.js:402:22
  
  - NormalModuleFactory.js:117 
    [node]/[webpack]/lib/NormalModuleFactory.js:117:11
  
  - NormalModuleFactory.js:646 
    [node]/[webpack]/lib/NormalModuleFactory.js:646:24
  
  - NormalModuleFactory.js:800 
    [node]/[webpack]/lib/NormalModuleFactory.js:800:8
  
  - NormalModuleFactory.js:920 
    [node]/[webpack]/lib/NormalModuleFactory.js:920:5
  
  - child-compiler.js:169 
    [node]/[html-webpack-plugin]/lib/child-compiler.js:169:18
  
  - Compiler.js:536 
    [node]/[webpack]/lib/Compiler.js:536:11
  
  - Compiler.js:1103 
    [node]/[webpack]/lib/Compiler.js:1103:17
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [node]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1099 
    [node]/[webpack]/lib/Compiler.js:1099:33
  
  - Compilation.js:2526 
    [node]/[webpack]/lib/Compilation.js:2526:11
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [node]/[tapable]/lib/Hook.js:18:14
  
  - Compilation.js:2519 
    [node]/[webpack]/lib/Compilation.js:2519:38
  
</pre>