{% extends "govuk/template.njk" %}

{% block head %}
  {% if cookiesPolicy and cookiesPolicy.analytics %}
    {% include "./tag-manager/head-content.njk" %}
  {% endif %}
  <!--[if !IE 8]><!-->
  
  <link href="/static/css/application.05e7d0d7fd4021a06100.css" rel="stylesheet">
  
  <!--<![endif]-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="{{ govukAssetPath }}/govuk-frontend/govuk/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block bodyStart %}
  {% if cookiesPolicy and not cookiesPolicy.confirmed %}
    {% include "./cookies/cookie-banner.njk" %}
  {% endif %}

  {% if cookiesPolicy and cookiesPolicy.analytics %}
    {% include "./tag-manager/body-content.njk" %}
  {% endif %}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/cookies",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}

  <script src="/static/js/bundle.05e7d0d7fd4021a06100.js"></script>

{% endblock %}
