{% extends './_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  
    <link href="/static/css/map.5cca9072c3d48fef2975.css" rel="stylesheet">
  
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Search",
        href: "/search"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Single Business Identifier: {{ sbi }}</span>
      Your land parcels
    </h1>
    <div id="map" class="map">
    </div>
    <div class="govuk-form-group">
      <input class="govuk-input" id="search" name="event-name" type="text" onkeyup="searchParcels()">
    </div>
    <table id="parcels" class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Parcel Number</th>
          <th scope="col" class="govuk-table__header">Total Area</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for feature in parcels.features %}
        <tr class="govuk-table__row" id="{{feature.id}}">
          <th scope="row" class="govuk-table__header">
            <a href="/parcel?sbi={{feature.properties.sbi}}&sheetId={{ feature.properties.sheet_id }}&parcelId={{ feature.properties.parcel_id }}">
              {{ feature.properties.sheet_id }} {{ feature.properties.parcel_id }}
            </a>
          </th>
          <td class="govuk-table__cell">
            {{ feature.properties.area_ha | round(4) }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

  <script src="/static/js/map.5cca9072c3d48fef2975.js"></script>

<script>
  const parcels = {{ parcels | dump | safe }}
  const center = {{ center | dump | safe }}
  const sbi = {{ sbi }}
  map.displayMap(sbi, parcels, center)

  const searchParcels = () => {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("search");
    filter = input.value.toLowerCase();
    table = document.getElementById("parcels");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      th = tr[i].getElementsByTagName("th")[0];
      if (th) {
        txtValue = th.textContent || th.innerText;
        if (txtValue.toLowerCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

</script>
{% endblock %}
