{% extends './_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  
    <link href="/static/css/map.5052bd125ed9fa8bedbe.css" rel="stylesheet">
  
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Search",
        href: "/search"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Single Business Identifier: {{ sbi }}</span>
      Your land parcels
    </h1>
    <div id="map" class="map"></div>
  </div>
</div>

  <script src="/static/js/map.5052bd125ed9fa8bedbe.js"></script>

<script>
  const parcels = {{ parcels | dump | safe }}
  map.displayMap(parcels)
</script>
{% endblock %}
