{% extends './_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  <% htmlWebpackPlugin.files.css.forEach(file => { %>
    <link href="<%= file.replace('../dist/', '/static/') %>" rel="stylesheet">
  <% }) %>
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Search",
        href: "/search"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Single Business Identifier: {{ sbi }}</span>
      Your land parcels
    </h1>
    {% if apiKey !== '' %}
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">Change view</label>
        <select class="govuk-select" id="layer-select" name="layer-select">
          <option value="Road_27700" selected>Road</option>
          <option value="Outdoor_27700">Outdoor</option>
          <option value="Light_27700">Light</option>
          <option value="Leisure_27700">Leisure</option>
        </select>
      </div>  
      <div id="map" class="map"></div>
    {% endif %}
    <table id="parcels" class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Parcel Number</th>
          <th scope="col" class="govuk-table__header">Total Area</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for feature in parcels.features %}
        <tr class="govuk-table__row" id="{{feature.id}}">
          <th scope="row" class="govuk-table__header">
            <a href="/parcel?sbi={{feature.properties.sbi}}&sheetId={{ feature.properties.sheet_id }}&parcelId={{ feature.properties.parcel_id }}">
              {{ feature.properties.sheet_id }} {{ feature.properties.parcel_id }}
            </a>
          </th>
          <td class="govuk-table__cell">
            {{ feature.properties.area_ha | round(4) }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<% htmlWebpackPlugin.files.js.forEach(file => { %>
  <script src="<%= file.replace('../dist/', '/static/') %>"></script>
<% }) %>
<script>
  const parcels = {{ parcels | dump | safe }}
  const center = {{ center | dump | safe }}
  const sbi = {{ sbi }}
  const apiKey = {{ apiKey | dump | safe }}
  const mapStyle = {{ mapStyle | dump | safe }}

  if (mapStyle !== '') { 
    document.getElementById("layer-select").value = mapStyle
  }

  if(apiKey !== '') {
    map.displayMap(apiKey, sbi, parcels, center)
  }

</script>
{% endblock %}
