{% extends './_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  
    <link href="/static/css/map.2b90ba786e2a4b20e404.css" rel="stylesheet">
  
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href=".">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/search">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/map?sbi={{sbi}}">My land</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ sbi }}</span>
      Parcel details
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Summary</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Parcel ID
        </dt>
        <dd class="govuk-summary-list__value">
          {{ sheetId }} {{ parcelId }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total Area (ha)
        </dt>
        <dd class="govuk-summary-list__value">
          {{ totalArea | round(4) }}
        </dd>
      </div>
    </dl>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Land covers</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Area (ha)</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for cover in covers %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{ cover.description }}</th>
          <td class="govuk-table__cell">{{ cover.area_ha | round(4) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="govuk-grid-column-one-half">
    <div id="map" class="map"></div>
  </div>
</div>

  <script src="/static/js/map.2b90ba786e2a4b20e404.js"></script>

<script>
  const parcels = {{ parcels | dump | safe }}
  const center = {{ center | dump | safe }}
  const sbi = {{ sbi }}
  map.displayMap(sbi, parcels, center)
</script>
{% endblock %}
